.features-bg {
  background-image: linear-gradient(to bottom, #010d37e8, #000000bb),
    url("/images/Speckles.png");
  background-repeat: repeat;
  background-position: center;
  /* background-size: cover; */
}






