.hero-bg{
    background-image: 
         url("/images/Union.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

.custom-form-bg{
    background-image:  url("/images/Decorative Shapes.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 20%;
}

.waitlist-bg{
  /* background-image: 
      linear-gradient(to bottom, #010d3733, #010d37, #010d37 ); 
  background-repeat: repeat;
  background-position: center; */
}

@media (max-width: 600px){
  .waitlist-bg {
    background-image: transparent;
    background-repeat: repeat;
    background-position: center;
  }
  .hero-bg{
    background-image: 
         url("/images/Union.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
}