.custom-shadow:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 300ms;
}

@media (max-width: 600px) {
  .custom-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}
